### Notebook for creating dataset that will be uploaded to aws rds (MySQL), a similar process will be used for L2A.
#### The L1C and L2A index datasets were download sentinel-2 on google cloud and contain an index of all of the safe files located at: https://cloud.google.com/storage/docs/public-datasets/sentinel-2

In [70]:
import pandas as pd
import mgrs #local python file
import numpy as np

In [71]:
df = pd.read_csv('California_Fire_Incidentsv2.csv')

In [72]:
df.head()

,incident_name,incident_is_final,incident_date_last_update,incident_date_created,incident_administrative_unit,incident_administrative_unit_url,incident_county,incident_location,incident_acres_burned,incident_containment,...,incident_latitude,incident_type,incident_id,incident_url,incident_date_extinguished,incident_dateonly_extinguished,incident_dateonly_created,is_active,calfire_incident,notification_desired
0,Bridge Fire,Y,2018-01-09T13:46:00Z,2017-10-31T11:22:00Z,Shasta-Trinity National Forest,NaN,Shasta,"I-5 and Turntable Bay, 7 miles NE of Shasta Lake",37.0,100.0,...,40.774000,NaN,2ca11d45-8139-4c16-8af0-880d99b21e82,https://osfm.fire.ca.gov/incidents/2017/10/31/...,2018-01-09T13:46:00Z,2018-01-09,2017-10-31,N,False,False
1,Pala Fire,Y,2020-09-16T14:07:35Z,2009-05-24T14:56:00Z,CAL FIRE San Diego Unit,NaN,San Diego,"Hwy 76 and Pala Temecula, northwest of Pala",122.0,100.0,...,1.000000,Wildfire,8f61f461-552d-4538-b186-35ab030da416,https://osfm.fire.ca.gov/incidents/2009/5/24/p...,2009-05-25T00:00:00Z,2009-05-25,2009-05-24,N,True,False
2,River Fire,Y,2013-02-28T20:00:00Z,2013-02-24T08:16:00Z,CAL FIRE San Bernardino Unit,NaN,Inyo,"south of Narrow Gauge Rd & north of Hwy 136, e...",406.0,100.0,...,36.602575,NaN,094719ba-a47b-4abb-9ec5-a506b2b9fd23,https://osfm.fire.ca.gov/incidents/2013/2/24/r...,2013-02-28T20:00:00Z,2013-02-28,2013-02-24,N,True,False
3,Fawnskin Fire,Y,2013-04-22T09:00:00Z,2013-04-20T17:30:00Z,San Bernardino National Forest,NaN,San Bernardino,"west of Delamar Mountain, north of the communi...",30.0,100.0,...,34.288877,NaN,58f89ff8-bd3e-4355-b1c0-8fa05c747d3f,https://osfm.fire.ca.gov/incidents/2013/4/20/f...,2013-04-22T09:00:00Z,2013-04-22,2013-04-20,N,False,False
4,Gold Fire,Y,2013-05-01T07:00:00Z,2013-04-30T12:59:00Z,CAL FIRE Madera-Mariposa-Merced Unit,NaN,Madera,Between Road 210 and Road 200 near Fine Gold C...,274.0,100.0,...,37.116295,NaN,357ffc13-bef9-48eb-810f-c5de851972eb,https://osfm.fire.ca.gov/incidents/2013/4/30/g...,2013-05-01T07:00:00Z,2013-05-01,2013-04-30,N,True,False

In [73]:
# Latitude
# Longitude
# mgrs.LLtoMGRS(Lat, Lon)

In [74]:
print(df['incident_latitude'], df['incident_longitude'])

0       40.774000
1        1.000000
2       36.602575
3       34.288877
4       37.116295
          ...
1905    38.170366
1906    34.553000
1907    39.986836
1908    41.862388
1909    37.013464
Name: incident_latitude, Length: 1910, dtype: float64 0      -122.309000
1         1.000000
2      -118.016510
3      -116.941311
4      -119.635004
           ...
1905   -122.241128
1906   -120.136000
1907   -122.277441
1908   -120.358206
1909   -121.752106
Name: incident_longitude, Length: 1910, dtype: float64

In [75]:
#create column named MGRS and add tile index to it
df['MGRS'] = df.apply(lambda x: mgrs.LLtoMGRS(x['incident_latitude'], x['incident_longitude'])[0:5], axis=1)

In [76]:
df.head()

,incident_name,incident_is_final,incident_date_last_update,incident_date_created,incident_administrative_unit,incident_administrative_unit_url,incident_county,incident_location,incident_acres_burned,incident_containment,...,incident_type,incident_id,incident_url,incident_date_extinguished,incident_dateonly_extinguished,incident_dateonly_created,is_active,calfire_incident,notification_desired,MGRS
0,Bridge Fire,Y,2018-01-09T13:46:00Z,2017-10-31T11:22:00Z,Shasta-Trinity National Forest,NaN,Shasta,"I-5 and Turntable Bay, 7 miles NE of Shasta Lake",37.0,100.0,...,NaN,2ca11d45-8139-4c16-8af0-880d99b21e82,https://osfm.fire.ca.gov/incidents/2017/10/31/...,2018-01-09T13:46:00Z,2018-01-09,2017-10-31,N,False,False,10TEL
1,Pala Fire,Y,2020-09-16T14:07:35Z,2009-05-24T14:56:00Z,CAL FIRE San Diego Unit,NaN,San Diego,"Hwy 76 and Pala Temecula, northwest of Pala",122.0,100.0,...,Wildfire,8f61f461-552d-4538-b186-35ab030da416,https://osfm.fire.ca.gov/incidents/2009/5/24/p...,2009-05-25T00:00:00Z,2009-05-25,2009-05-24,N,True,False,31NBB
2,River Fire,Y,2013-02-28T20:00:00Z,2013-02-24T08:16:00Z,CAL FIRE San Bernardino Unit,NaN,Inyo,"south of Narrow Gauge Rd & north of Hwy 136, e...",406.0,100.0,...,NaN,094719ba-a47b-4abb-9ec5-a506b2b9fd23,https://osfm.fire.ca.gov/incidents/2013/2/24/r...,2013-02-28T20:00:00Z,2013-02-28,2013-02-24,N,True,False,11SMA
3,Fawnskin Fire,Y,2013-04-22T09:00:00Z,2013-04-20T17:30:00Z,San Bernardino National Forest,NaN,San Bernardino,"west of Delamar Mountain, north of the communi...",30.0,100.0,...,NaN,58f89ff8-bd3e-4355-b1c0-8fa05c747d3f,https://osfm.fire.ca.gov/incidents/2013/4/20/f...,2013-04-22T09:00:00Z,2013-04-22,2013-04-20,N,False,False,11SNT
4,Gold Fire,Y,2013-05-01T07:00:00Z,2013-04-30T12:59:00Z,CAL FIRE Madera-Mariposa-Merced Unit,NaN,Madera,Between Road 210 and Road 200 near Fine Gold C...,274.0,100.0,...,NaN,357ffc13-bef9-48eb-810f-c5de851972eb,https://osfm.fire.ca.gov/incidents/2013/4/30/g...,2013-05-01T07:00:00Z,2013-05-01,2013-04-30,N,True,False,11SKB

In [77]:
# get rid of the rows with no longitude or latitide

df = df[df['incident_longitude'] != 0]
df = df[df['incident_latitude'] != 0]

In [79]:
# convert to datetime for filtering
df['incident_dateonly_created'] = pd.to_datetime(df['incident_dateonly_created'])
df['incident_dateonly_extinguished'] = pd.to_datetime(df['incident_dateonly_extinguished'])

In [80]:
# for development purposes and code buildout, only use 2016, production code will use 2015-2021
df = df[df['incident_dateonly_created'].dt.year == 2016]
df = df[df['incident_dateonly_extinguished'].dt.year == 2016]

In [81]:
df.head()

,incident_name,incident_is_final,incident_date_last_update,incident_date_created,incident_administrative_unit,incident_administrative_unit_url,incident_county,incident_location,incident_acres_burned,incident_containment,...,incident_type,incident_id,incident_url,incident_date_extinguished,incident_dateonly_extinguished,incident_dateonly_created,is_active,calfire_incident,notification_desired,MGRS
259,Creek Fire,Y,2016-10-12T18:00:00Z,2016-10-10T16:13:00Z,CAL FIRE Sonoma-Lake-Napa Unit,NaN,Napa,Dry Creek Road 3 miles west of Yountville,65.0,100.0,...,NaN,3135c367-1274-4cc4-9152-661f6fd7707e,https://osfm.fire.ca.gov/incidents/2016/10/10/...,2016-10-12T18:00:00Z,2016-10-12,2016-10-10,N,True,False,10SEH
312,Taglio Fire,Y,2016-04-24T15:30:00Z,2016-04-24T11:10:00Z,CAL FIRE Madera-Mariposa-Merced Unit,NaN,Merced,"I-5 & Taglio Road, east of Gustine",30.0,100.0,...,NaN,7106ba43-100b-41f9-acbf-9fb9e9ab9ef7,https://osfm.fire.ca.gov/incidents/2016/4/24/t...,2016-04-24T15:30:00Z,2016-04-24,2016-04-24,N,True,False,10SFG
320,Gorman Fire,Y,2016-04-19T15:30:00Z,2016-04-19T13:09:00Z,Los Angeles County Fire,NaN,Los Angeles,off northbound Interstate 5 at Gorman Creek,0.0,100.0,...,NaN,2c77fa07-73e6-45fe-a527-5bd526bdef41,https://osfm.fire.ca.gov/incidents/2016/4/19/g...,2016-04-19T15:30:00Z,2016-04-19,2016-04-19,N,False,False,11SLU
321,Tulloch Fire,Y,2016-06-01T19:45:00Z,2016-05-30T15:10:00Z,CAL FIRE Tuolumne-Calaveras Unit,NaN,Tuolumne,"off New Peoria Flat Road and Old Melones Road,...",85.0,100.0,...,NaN,ffec404e-dea9-4175-8c50-8f2b0ca3efdd,https://osfm.fire.ca.gov/incidents/2016/5/30/t...,2016-06-01T19:45:00Z,2016-06-01,2016-05-30,N,True,False,10SGH
322,Metz Fire,Y,2016-05-25T18:15:00Z,2016-05-22T15:27:00Z,CAL FIRE San Benito-Monterey Unit,NaN,Monterey,"Metz Rd & Blue Jay Ln, southeast of Soledad",3876.0,100.0,...,NaN,55fa95e6-f09e-42c4-889b-a4b5b63dccf2,https://osfm.fire.ca.gov/incidents/2016/5/22/m...,2016-05-25T18:15:00Z,2016-05-25,2016-05-22,N,True,False,10SFF

In [82]:
#filter down to these four cols
df = df[['incident_dateonly_created', 'incident_dateonly_extinguished', 'MGRS', 'incident_id']]

In [83]:
df.isna().sum()

incident_dateonly_created         0
incident_dateonly_extinguished    0
MGRS                              0
incident_id                       0
dtype: int64

In [84]:
df.head()

,incident_dateonly_created,incident_dateonly_extinguished,MGRS,incident_id
259,2016-10-10,2016-10-12,10SEH,3135c367-1274-4cc4-9152-661f6fd7707e
312,2016-04-24,2016-04-24,10SFG,7106ba43-100b-41f9-acbf-9fb9e9ab9ef7
320,2016-04-19,2016-04-19,11SLU,2c77fa07-73e6-45fe-a527-5bd526bdef41
321,2016-05-30,2016-06-01,10SGH,ffec404e-dea9-4175-8c50-8f2b0ca3efdd
322,2016-05-22,2016-05-25,10SFF,55fa95e6-f09e-42c4-889b-a4b5b63dccf2

In [85]:
df = df.rename(columns={"incident_dateonly_created": "STARTED", "incident_dateonly_extinguished": "ENDED", 'incident_id':'UNIQUE_ID' })

In [90]:
df_l2a = pd.read_csv('CA_L1C_INDEX.csv')

In [91]:
df_l2a.isna().sum()

GRANULE_ID                    0
PRODUCT_ID                    0
DATATAKE_IDENTIFIER           0
MGRS_TILE                     0
SENSING_TIME                  0
TOTAL_SIZE                  396
CLOUD_COVER                   0
GEOMETRIC_QUALITY_FLAG    32900
GENERATION_TIME               0
NORTH_LAT                     0
SOUTH_LAT                     0
WEST_LON                      0
EAST_LON                      0
BASE_URL                      0
num                           0
let                           0
sub                           0
dtype: int64

In [92]:
df.head()

       STARTED      ENDED   MGRS                             UNIQUE_ID
259 2016-10-10 2016-10-12  10SEH  3135c367-1274-4cc4-9152-661f6fd7707e
312 2016-04-24 2016-04-24  10SFG  7106ba43-100b-41f9-acbf-9fb9e9ab9ef7
320 2016-04-19 2016-04-19  11SLU  2c77fa07-73e6-45fe-a527-5bd526bdef41
321 2016-05-30 2016-06-01  10SGH  ffec404e-dea9-4175-8c50-8f2b0ca3efdd
322 2016-05-22 2016-05-25  10SFF  55fa95e6-f09e-42c4-889b-a4b5b63dccf2

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 259 to 472
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   STARTED    153 non-null    datetime64[ns]
 1   ENDED      153 non-null    datetime64[ns]
 2   MGRS       153 non-null    object
 3   UNIQUE_ID  153 non-null    object
dtypes: datetime64[ns](2), object(2)
memory usage: 6.0+ KB

In [94]:
# convert to datatime for anlysis
df_l2a['SENSING_TIME'] = pd.to_datetime(df_l2a['SENSING_TIME'])

In [95]:
df_l2a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41232 entries, 0 to 41231
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GRANULE_ID              41232 non-null  object
 1   PRODUCT_ID              41232 non-null  object
 2   DATATAKE_IDENTIFIER     41232 non-null  object
 3   MGRS_TILE               41232 non-null  object
 4   SENSING_TIME            41232 non-null  datetime64[ns, UTC]
 5   TOTAL_SIZE              40836 non-null  float64
 6   CLOUD_COVER             41232 non-null  float64
 7   GEOMETRIC_QUALITY_FLAG  8332 non-null   object
 8   GENERATION_TIME         41232 non-null  object
 9   NORTH_LAT               41232 non-null  float64
 10  SOUTH_LAT               41232 non-null  float64
 11  WEST_LON                41232 non-null  float64
 12  EAST_LON                41232 non-null  float64
 13  BASE_URL                41232 non-null  object
 14  num                     41232 non-null  int64
 15  let                     41232 non-null  object
 16  sub                     41232 non-null  object
dtypes: datetime64[ns, UTC](1), float64(6), int64(1), object(9)
memory usage: 5.3+ MB

In [96]:
df_l2a.head()

,GRANULE_ID,PRODUCT_ID,DATATAKE_IDENTIFIER,MGRS_TILE,SENSING_TIME,TOTAL_SIZE,CLOUD_COVER,GEOMETRIC_QUALITY_FLAG,GENERATION_TIME,NORTH_LAT,SOUTH_LAT,WEST_LON,EAST_LON,BASE_URL,num,let,sub
0,L1C_T11SKA_A014224_20180313T185032,S2A_MSIL1C_20180313T184141_N0206_R070_T11SKA_2...,GS2A_20180313T184141_014224_N02.06,11SKA,2018-03-13 18:50:32.410000+00:00,677636187.0,98.2627,NaN,2018-03-13T23:36:24.000000Z,37.027394,36.010587,-120.371431,-119.111546,gs://gcp-public-data-sentinel-2/tiles/11/S/KA/...,11,S,KA
1,L1C_T11SKV_A018214_20200831T184219,S2B_MSIL1C_20200831T182919_N0209_R027_T11SKV_2...,GS2B_20200831T182919_018214_N02.09,11SKV,2020-08-31 18:44:44.816000+00:00,42049014.0,0.0000,NaN,2020-08-31T22:21:43.000000Z,35.673846,35.134082,-119.251242,-119.088005,gs://gcp-public-data-sentinel-2/tiles/11/S/KV/...,11,S,KV
2,L1C_T11SKD_A024449_20211110T185617,S2B_MSIL1C_20211110T185619_N0301_R113_T11SKD_2...,GS2B_20211110T185619_024449_N03.01,11SKD,2021-11-10 19:03:32.406000+00:00,497920476.0,56.6109,NaN,2021-11-10T20:21:27.000000Z,39.724764,38.710009,-120.499098,-119.437275,gs://gcp-public-data-sentinel-2/tiles/11/S/KD/...,11,S,KD
3,L1C_T11SLA_A006245_20180517T183956,S2B_MSIL1C_20180517T183919_N0206_R070_T11SLA_2...,GS2B_20180517T183919_006245_N02.06,11SLA,2018-05-17 18:39:56.150000+00:00,878962850.0,9.2473,NaN,2018-05-17T22:19:06.000000Z,37.042336,36.036257,-119.248493,-118.006945,gs://gcp-public-data-sentinel-2/tiles/11/S/LA/...,11,S,LA
4,L1C_T11SKV_A002627_20170906T184420,S2B_MSIL1C_20170906T184419_N0205_R027_T11SKV_2...,GS2B_20170906T184419_002627_N02.05,11SKV,2017-09-06 18:44:20.460000+00:00,37238502.0,0.0000,PASSED,2017-09-06T18:44:20.000000Z,35.684658,35.134021,-119.254906,-119.088005,gs://gcp-public-data-sentinel-2/tiles/11/S/KV/...,11,S,KV

In [97]:
#filter by year for code dev purposes
df_l2a = df_l2a[df_l2a['SENSING_TIME'].dt.year == 2016]

In [98]:
df_l2a.head()

,GRANULE_ID,PRODUCT_ID,DATATAKE_IDENTIFIER,MGRS_TILE,SENSING_TIME,TOTAL_SIZE,CLOUD_COVER,GEOMETRIC_QUALITY_FLAG,GENERATION_TIME,NORTH_LAT,SOUTH_LAT,WEST_LON,EAST_LON,BASE_URL,num,let,sub
12,S2A_OPER_MSI_L1C_TL_MTI__20160117T214954_A0029...,S2A_OPER_PRD_MSIL1C_PDMC_20160119T041819_R127_...,GS2A_20160117T182712_002984_N02.01,11SMS,2016-01-17 18:34:34.821000+00:00,279018323.0,8.0000,PASSED,2016-01-19T04:18:19.000000Z,33.439621,32.448398,-117.456101,-116.895105,gs://gcp-public-data-sentinel-2/tiles/11/S/MS/...,11,S,MS
30,L1C_T10TFK_A003299_20160208T190605,S2A_MSIL1C_20160208T190542_N0201_R013_T10TFK_2...,GS2A_20160208T190542_003299_N02.01,10TFK,2016-02-08 19:06:05.324000+00:00,62268939.0,0.0000,FAILED,2016-02-08T19:06:05.000000Z,40.644890,40.019779,-121.828279,-121.608135,gs://gcp-public-data-sentinel-2/tiles/10/T/FK/...,10,T,FK
31,L1C_T10SEG_A004829_20160525T190354,S2A_MSIL1C_20160525T190352_N0202_R113_T10SEG_2...,GS2A_20160525T190352_004829_N02.02,10SEG,2016-05-25 19:03:54+00:00,748966454.0,60.7736,PASSED,2016-05-25T19:03:54.000000Z,37.947680,36.951572,-123.000342,-121.750759,gs://gcp-public-data-sentinel-2/tiles/10/S/EG/...,10,S,EG
40,L1C_T10TDL_A007732_20161214T190804,S2A_MSIL1C_20161214T190802_N0204_R013_T10TDL_2...,GS2A_20161214T190802_007732_N02.04,10TDL,2016-12-14 19:08:04.459000+00:00,608233858.0,100.0000,PASSED,2016-12-14T19:08:04.000000Z,41.551922,40.556797,-124.199569,-122.883088,gs://gcp-public-data-sentinel-2/tiles/10/T/DL/...,10,T,DL
46,L1C_T10TEM_A007260_20161111T185723,S2A_MSIL1C_20161111T185622_N0204_R113_T10TEM_2...,GS2A_20161111T185622_007260_N02.04,10TEM,2016-11-11 18:57:23.790000+00:00,348753536.0,65.4965,FAILED,2016-11-11T18:57:23.000000Z,42.449494,41.456335,-122.443546,-121.665230,gs://gcp-public-data-sentinel-2/tiles/10/T/EM/...,10,T,EM

In [99]:
# had trouble using pd merge so instead found this solution
# https://stackoverflow.com/questions/30627968/merge-pandas-dataframes-where-one-value-is-between-two-others

In [100]:
import sqlite3

In [101]:
conn = sqlite3.connect(':memory:')

df_l2a.to_sql('l2a', conn, index=False)
df.to_sql('fire', conn, index=False)

In [102]:
qry = '''
SELECT * FROM l2a
JOIN fire ON
SENSING_TIME BETWEEN STARTED AND ENDED
WHERE l2a.MGRS_TILE = fire.MGRS
'''

In [103]:
df_merge = pd.read_sql_query(qry, conn)

In [104]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GRANULE_ID              180 non-null    object
 1   PRODUCT_ID              180 non-null    object
 2   DATATAKE_IDENTIFIER     180 non-null    object
 3   MGRS_TILE               180 non-null    object
 4   SENSING_TIME            180 non-null    object
 5   TOTAL_SIZE              180 non-null    float64
 6   CLOUD_COVER             180 non-null    float64
 7   GEOMETRIC_QUALITY_FLAG  179 non-null    object
 8   GENERATION_TIME         180 non-null    object
 9   NORTH_LAT               180 non-null    float64
 10  SOUTH_LAT               180 non-null    float64
 11  WEST_LON                180 non-null    float64
 12  EAST_LON                180 non-null    float64
 13  BASE_URL                180 non-null    object
 14  num                     180 non-null    int64
 15  let                     180 non-null    object
 16  sub                     180 non-null    object
 17  STARTED                 180 non-null    object
 18  ENDED                   180 non-null    object
 19  MGRS                    180 non-null    object
 20  UNIQUE_ID               180 non-null    object
dtypes: float64(6), int64(1), object(14)
memory usage: 29.7+ KB

In [105]:
df_merge.head()

,GRANULE_ID,PRODUCT_ID,DATATAKE_IDENTIFIER,MGRS_TILE,SENSING_TIME,TOTAL_SIZE,CLOUD_COVER,GEOMETRIC_QUALITY_FLAG,GENERATION_TIME,NORTH_LAT,...,WEST_LON,EAST_LON,BASE_URL,num,let,sub,STARTED,ENDED,MGRS,UNIQUE_ID
0,L1C_T11SMT_A006030_20160817T183824,S2A_MSIL1C_20160817T182922_N0204_R027_T11SMT_2...,GS2A_20160817T182922_006030_N02.04,11SMT,2016-08-17 18:38:24.233000+00:00,877287683.0,0.5399,FAILED,2016-08-17T18:38:24.000000Z,34.341743,...,-118.087692,-116.893994,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,11,S,MT,2016-08-16 00:00:00,2016-08-23 00:00:00,11SMT,ea5193a1-69bc-4684-bfcd-235c17d36756
1,L1C_T10TDM_A006874_20161015T190928,S2A_MSIL1C_20161015T190342_N0204_R013_T10TDM_2...,GS2A_20161015T190342_006874_N02.04,10TDM,2016-10-15 19:09:28.200000+00:00,601803878.0,100.0000,PASSED,2016-10-15T19:09:28.000000Z,42.452768,...,-124.216605,-122.881427,gs://gcp-public-data-sentinel-2/tiles/10/T/DM/...,10,T,DM,2016-06-07 00:00:00,2016-11-08 00:00:00,10TDM,103e1cb6-0a02-4ca8-8739-4cf77b5d1c98
2,S2A_OPER_MSI_L1C_TL_MPS__20160628T232902_A0053...,S2A_OPER_PRD_MSIL1C_PDMC_20160629T001014_R027_...,GS2A_20160628T184432_005315_N02.04,11SLV,2016-06-28 18:44:29.458000+00:00,394959521.0,38.2607,PASSED,2016-06-29T00:10:14.000000Z,35.826762,...,-119.199331,-117.990390,gs://gcp-public-data-sentinel-2/tiles/11/S/LV/...,11,S,LV,2016-06-23 00:00:00,2016-07-11 00:00:00,11SLV,91816ff6-d4ec-4f31-8d40-bf2538aca09b
3,S2A_OPER_MSI_L1C_TL_SGS__20160628T234323_A0053...,S2A_OPER_PRD_MSIL1C_PDMC_20160629T002006_R027_...,GS2A_20160628T184432_005315_N02.04,11SNS,2016-06-28 18:44:47.497000+00:00,250358253.0,0.0000,PASSED,2016-06-29T00:20:06.000000Z,33.439665,...,-117.000323,-116.440893,gs://gcp-public-data-sentinel-2/tiles/11/S/NS/...,11,S,NS,2016-06-19 00:00:00,2016-06-30 00:00:00,11SNS,33099cdd-ccfc-454e-b5a3-770a69a30bd3
4,L1C_T10TDL_A006016_20160816T190939,S2A_MSIL1C_20160816T185922_N0204_R013_T10TDL_2...,GS2A_20160816T185922_006016_N02.04,10TDL,2016-08-16 19:09:39.996000+00:00,829006155.0,4.2208,PASSED,2016-08-16T19:09:39.000000Z,41.551922,...,-124.199569,-122.883088,gs://gcp-public-data-sentinel-2/tiles/10/T/DL/...,10,T,DL,2016-08-12 00:00:00,2016-08-19 00:00:00,10TDL,861bfbd3-ce1c-46bd-a32b-2848b7399119

In [106]:
df_merge['MGRS_TILE'].sum() == df_merge['MGRS'].sum()

True

In [109]:
#reoccuring fires, the merge created many duplicates
df_merge.groupby('UNIQUE_ID')['UNIQUE_ID'].count().sort_values(ascending = False)#.reset_index()

UNIQUE_ID
103e1cb6-0a02-4ca8-8739-4cf77b5d1c98    21
ffb3293b-3349-49c5-a7cb-c488391e8a72    16
89c304db-e288-4582-90d4-884d57fd71f9    11
e247e423-6171-4184-9dca-b373de703885    10
2458cd6c-82d6-43ef-b509-706e3af69451     9
954fb899-decb-461b-a0dd-76442e3370d3     8
91816ff6-d4ec-4f31-8d40-bf2538aca09b     8
1bc85249-0d96-42d7-a23f-db99bdce17a4     6
5c86c26b-e6c0-4e47-90b7-bc5da3885ebe     6
b8cf80c7-b617-4fe4-91b0-43b40d38c7f6     4
b604ffa7-8cee-4724-bb82-f1f4553a192f     4
423df2bd-4464-44e0-8b8a-74f953613287     4
2dae3029-2d17-445a-9fac-e95345b179e0     4
33099cdd-ccfc-454e-b5a3-770a69a30bd3     4
c27c5212-1891-4105-86ee-9f97016ef159     4
6afa1ccf-e1b6-492b-bcaa-9189cd3487aa     4
92c20948-6ff6-4a2c-b13f-32c75e71b16c     3
040d03d0-fbdd-438c-8174-f81e4a1bba57     3
55fa95e6-f09e-42c4-889b-a4b5b63dccf2     2
85832754-5848-4454-84fc-8b0a9abbff40     2
f1769b9d-c522-4a0d-92a7-f9c8321b9f1d     2
db833182-22df-44cc-ba10-0901e74222bc     2
d96a2f4f-8e4d-4534-abe2-d90530e2bbc3     2
c88af25d-aff4-4b20-9c58-0b819c8ae99a     2
bae93037-2a91-4189-b256-3325cd2b6979     2
140def53-175c-4f5d-b8e3-de0643781ff7     2
a0950d5e-6f35-4023-bb60-6737146ba7bd     2
79b446a4-d809-4aa2-9f30-091a05ed697d     2
403e6185-c0e1-4b8f-a290-b50553a47b67     2
69b7a19e-7be7-43c1-8779-c7110b22f552     2
69c7b8cc-061e-4ca6-b5e8-83c6ae9d8a25     2
6f07d935-7d64-4be8-8e96-d34384686bf8     2
78eccd24-9fe2-4ccd-90fa-a1e0fdc19b41     2
140161a1-ca06-448a-87f2-27e688b2d922     1
f6afb8c4-32dc-4e6d-8d30-e6b7ccd4a62f     1
59084c8f-904c-42cb-9aa8-cae4a1f8c6ef     1
ed16bf52-f886-4384-b841-2e755234aa29     1
ea5193a1-69bc-4684-bfcd-235c17d36756     1
1243f711-c29f-4bc3-a7e7-c705a6fc40f2     1
da72b0c2-835d-42a5-8fa8-4de5442610cc     1
d045584a-8838-4d64-91dc-3ebfbcd8e708     1
057fd4e2-7400-4fc4-9b23-3daf67fc8610     1
bd2b7bdc-0f92-451a-a3a5-03569d27c952     1
b82b0e22-4155-43dd-ac33-1da015b6d3d2     1
1f8b3267-c3bd-43f5-9733-2b30c97d45ee     1
5823867d-c458-4673-858f-0ded99b6121f     1
97772dc4-7fde-4412-982c-974b3316e22b     1
2656ad63-b3e1-467f-9982-0229fd31c0f5     1
2a2e0af5-24d7-4903-bab4-3705f5d788fb     1
346c59b1-375e-4d42-876a-d97b769c939f     1
8d9b87e4-6fdb-49e4-ba6d-be85ffd6b222     1
383c3df6-a1eb-40fd-b798-41481dff679a     1
861bfbd3-ce1c-46bd-a32b-2848b7399119     1
3a4871dc-2299-4934-8a31-b92780fe31a3     1
Name: UNIQUE_ID, dtype: int64

In [110]:
# some overlap that will be adressed later in thihs notebook
df_merge.groupby('BASE_URL')['BASE_URL'].count().sort_values(ascending = False)#.reset_index()

BASE_URL
gs://gcp-public-data-sentinel-2/tiles/11/S/LA/S2A_MSIL1C_20161105T183542_N0204_R027_T11SLA_20161105T184337.SAFE    2
gs://gcp-public-data-sentinel-2/tiles/11/S/LA/S2A_MSIL1C_20161029T184512_N0204_R070_T11SLA_20161029T184636.SAFE    2
gs://gcp-public-data-sentinel-2/tiles/11/S/KU/S2A_MSIL1C_20160618T183831_N0204_R027_T11SKU_20160619T013511.SAFE    2
gs://gcp-public-data-sentinel-2/tiles/11/S/KU/S2A_MSIL1C_20160618T182922_N0204_R027_T11SKU_20160618T183831.SAFE    2
gs://gcp-public-data-sentinel-2/tiles/11/S/MT/S2A_MSIL1C_20160903T183312_N0204_R127_T11SMT_20160903T183309.SAFE    2
                                                                                                                  ..
gs://gcp-public-data-sentinel-2/tiles/10/T/DM/S2A_MSIL1C_20161028T191512_N0204_R056_T10TDM_20161028T191513.SAFE    1
gs://gcp-public-data-sentinel-2/tiles/10/T/DM/S2A_MSIL1C_20161104T190552_N0204_R013_T10TDM_20161104T190549.SAFE    1
gs://gcp-public-data-sentinel-2/tiles/10/T/EK/S2A_MSIL1C_20160803T184922_N0204_R113_T10TEK_20160803T190133.SAFE    1
gs://gcp-public-data-sentinel-2/tiles/10/T/EM/S2A_MSIL1C_20160912T184952_N0204_R113_T10TEM_20160912T190101.SAFE    1
gs://gcp-public-data-sentinel-2/tiles/11/S/NS/S2A_MSIL1C_20160718T184432_N0204_R027_T11SNS_20160718T184431.SAFE    1
Name: BASE_URL, Length: 175, dtype: int64

In [112]:
df_merge.isna().sum()

GRANULE_ID                0
PRODUCT_ID                0
DATATAKE_IDENTIFIER       0
MGRS_TILE                 0
SENSING_TIME              0
TOTAL_SIZE                0
CLOUD_COVER               0
GEOMETRIC_QUALITY_FLAG    1
GENERATION_TIME           0
NORTH_LAT                 0
SOUTH_LAT                 0
WEST_LON                  0
EAST_LON                  0
BASE_URL                  0
num                       0
let                       0
sub                       0
STARTED                   0
ENDED                     0
MGRS                      0
UNIQUE_ID                 0
dtype: int64

In [113]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GRANULE_ID              180 non-null    object
 1   PRODUCT_ID              180 non-null    object
 2   DATATAKE_IDENTIFIER     180 non-null    object
 3   MGRS_TILE               180 non-null    object
 4   SENSING_TIME            180 non-null    object
 5   TOTAL_SIZE              180 non-null    float64
 6   CLOUD_COVER             180 non-null    float64
 7   GEOMETRIC_QUALITY_FLAG  179 non-null    object
 8   GENERATION_TIME         180 non-null    object
 9   NORTH_LAT               180 non-null    float64
 10  SOUTH_LAT               180 non-null    float64
 11  WEST_LON                180 non-null    float64
 12  EAST_LON                180 non-null    float64
 13  BASE_URL                180 non-null    object
 14  num                     180 non-null    int64
 15  let                     180 non-null    object
 16  sub                     180 non-null    object
 17  STARTED                 180 non-null    object
 18  ENDED                   180 non-null    object
 19  MGRS                    180 non-null    object
 20  UNIQUE_ID               180 non-null    object
dtypes: float64(6), int64(1), object(14)
memory usage: 29.7+ KB

In [114]:
df_l2a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3959 entries, 12 to 41217
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GRANULE_ID              3959 non-null   object
 1   PRODUCT_ID              3959 non-null   object
 2   DATATAKE_IDENTIFIER     3959 non-null   object
 3   MGRS_TILE               3959 non-null   object
 4   SENSING_TIME            3959 non-null   datetime64[ns, UTC]
 5   TOTAL_SIZE              3674 non-null   float64
 6   CLOUD_COVER             3959 non-null   float64
 7   GEOMETRIC_QUALITY_FLAG  3937 non-null   object
 8   GENERATION_TIME         3959 non-null   object
 9   NORTH_LAT               3959 non-null   float64
 10  SOUTH_LAT               3959 non-null   float64
 11  WEST_LON                3959 non-null   float64
 12  EAST_LON                3959 non-null   float64
 13  BASE_URL                3959 non-null   object
 14  num                     3959 non-null   int64
 15  let                     3959 non-null   object
 16  sub                     3959 non-null   object
dtypes: datetime64[ns, UTC](1), float64(6), int64(1), object(9)
memory usage: 556.7+ KB

In [115]:
len(df_merge['GRANULE_ID'].unique().tolist())

175

In [116]:
len(df_l2a['GRANULE_ID'].unique().tolist())

3959

In [117]:
len(df_merge['BASE_URL'].unique().tolist())

175

In [120]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GRANULE_ID              180 non-null    object
 1   PRODUCT_ID              180 non-null    object
 2   DATATAKE_IDENTIFIER     180 non-null    object
 3   MGRS_TILE               180 non-null    object
 4   SENSING_TIME            180 non-null    object
 5   TOTAL_SIZE              180 non-null    float64
 6   CLOUD_COVER             180 non-null    float64
 7   GEOMETRIC_QUALITY_FLAG  179 non-null    object
 8   GENERATION_TIME         180 non-null    object
 9   NORTH_LAT               180 non-null    float64
 10  SOUTH_LAT               180 non-null    float64
 11  WEST_LON                180 non-null    float64
 12  EAST_LON                180 non-null    float64
 13  BASE_URL                180 non-null    object
 14  num                     180 non-null    int64
 15  let                     180 non-null    object
 16  sub                     180 non-null    object
 17  STARTED                 180 non-null    object
 18  ENDED                   180 non-null    object
 19  MGRS                    180 non-null    object
 20  UNIQUE_ID               180 non-null    object
dtypes: float64(6), int64(1), object(14)
memory usage: 29.7+ KB

In [121]:
# the sql join appeard to remove the datatime conversion
df_merge['SENSING_TIME'] = pd.to_datetime(df_merge['SENSING_TIME'])

In [122]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GRANULE_ID              180 non-null    object
 1   PRODUCT_ID              180 non-null    object
 2   DATATAKE_IDENTIFIER     180 non-null    object
 3   MGRS_TILE               180 non-null    object
 4   SENSING_TIME            180 non-null    datetime64[ns, UTC]
 5   TOTAL_SIZE              180 non-null    float64
 6   CLOUD_COVER             180 non-null    float64
 7   GEOMETRIC_QUALITY_FLAG  179 non-null    object
 8   GENERATION_TIME         180 non-null    object
 9   NORTH_LAT               180 non-null    float64
 10  SOUTH_LAT               180 non-null    float64
 11  WEST_LON                180 non-null    float64
 12  EAST_LON                180 non-null    float64
 13  BASE_URL                180 non-null    object
 14  num                     180 non-null    int64
 15  let                     180 non-null    object
 16  sub                     180 non-null    object
 17  STARTED                 180 non-null    object
 18  ENDED                   180 non-null    object
 19  MGRS                    180 non-null    object
 20  UNIQUE_ID               180 non-null    object
dtypes: datetime64[ns, UTC](1), float64(6), int64(1), object(13)
memory usage: 29.7+ KB

In [123]:
#add date column
df_merge['DATE'] = df_merge['SENSING_TIME'].dt.date

In [124]:
'''
the below code eliminates duplicate .safe folders by saving the .safe folder that is the largest size.
throughout this research I found that there were often duplicates of one image scene and the quality varried, 
generally the larger size .safe folder had thhe best quality scene
https://stackoverflow.com/questions/12497402/python-pandas-remove-duplicates-by-columns-a-keeping-the-row-with-the-highest
'''
df_merge = df_merge.sort_values('TOTAL_SIZE', ascending=False).drop_duplicates(['MGRS_TILE', 'DATE']).sort_index()

In [125]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121 entries, 0 to 179
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GRANULE_ID              121 non-null    object
 1   PRODUCT_ID              121 non-null    object
 2   DATATAKE_IDENTIFIER     121 non-null    object
 3   MGRS_TILE               121 non-null    object
 4   SENSING_TIME            121 non-null    datetime64[ns, UTC]
 5   TOTAL_SIZE              121 non-null    float64
 6   CLOUD_COVER             121 non-null    float64
 7   GEOMETRIC_QUALITY_FLAG  120 non-null    object
 8   GENERATION_TIME         121 non-null    object
 9   NORTH_LAT               121 non-null    float64
 10  SOUTH_LAT               121 non-null    float64
 11  WEST_LON                121 non-null    float64
 12  EAST_LON                121 non-null    float64
 13  BASE_URL                121 non-null    object
 14  num                     121 non-null    int64
 15  let                     121 non-null    object
 16  sub                     121 non-null    object
 17  STARTED                 121 non-null    object
 18  ENDED                   121 non-null    object
 19  MGRS                    121 non-null    object
 20  UNIQUE_ID               121 non-null    object
 21  DATE                    121 non-null    object
dtypes: datetime64[ns, UTC](1), float64(6), int64(1), object(14)
memory usage: 21.7+ KB

In [126]:
print(len(df_merge['GRANULE_ID'].unique()))
print(len(df_merge['PRODUCT_ID'].unique()))

121
121

In [127]:
'''
This finds the next granule id. Basically we want to feed sequntial images to our neural network and we do
this by tracking the granule id and the next tile granule id.
'''

# gets the next tile and time of the next tile grouped by MGRS
df_merge['NEXT_TILE'] = df_merge.sort_values('SENSING_TIME', ascending=False).groupby('MGRS')['GRANULE_ID'].shift()
df_merge['NEXT_TILE_TIME'] = df_merge.sort_values('SENSING_TIME', ascending=False).groupby('MGRS')['SENSING_TIME'].shift()

In [128]:
# days betweeen first tile and next tile
# https://stackoverflow.com/questions/37840812/pandas-subtracting-two-date-columns-and-the-result-being-an-integer/46966942
df_merge['DAYS_BETWEEN'] = (df_merge['NEXT_TILE_TIME'] - df_merge['SENSING_TIME']).dt.days

In [129]:
#remove tiles more than 10 days apart
df_merge[df_merge['DAYS_BETWEEN'] <= 10].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 5 to 177
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GRANULE_ID              61 non-null     object
 1   PRODUCT_ID              61 non-null     object
 2   DATATAKE_IDENTIFIER     61 non-null     object
 3   MGRS_TILE               61 non-null     object
 4   SENSING_TIME            61 non-null     datetime64[ns, UTC]
 5   TOTAL_SIZE              61 non-null     float64
 6   CLOUD_COVER             61 non-null     float64
 7   GEOMETRIC_QUALITY_FLAG  60 non-null     object
 8   GENERATION_TIME         61 non-null     object
 9   NORTH_LAT               61 non-null     float64
 10  SOUTH_LAT               61 non-null     float64
 11  WEST_LON                61 non-null     float64
 12  EAST_LON                61 non-null     float64
 13  BASE_URL                61 non-null     object
 14  num                     61 non-null     int64
 15  let                     61 non-null     object
 16  sub                     61 non-null     object
 17  STARTED                 61 non-null     object
 18  ENDED                   61 non-null     object
 19  MGRS                    61 non-null     object
 20  UNIQUE_ID               61 non-null     object
 21  DATE                    61 non-null     object
 22  NEXT_TILE               61 non-null     object
 23  NEXT_TILE_TIME          61 non-null     datetime64[ns, UTC]
 24  DAYS_BETWEEN            61 non-null     float64
dtypes: datetime64[ns, UTC](2), float64(7), int64(1), object(15)
memory usage: 12.4+ KB

In [130]:
df_merge =  df_merge[df_merge['DAYS_BETWEEN'] <= 10].sort_values('MGRS')

In [131]:
# remove .safe files that are smaller than 300 mb
df_merge = df_merge[df_merge['TOTAL_SIZE'] > 300000000]

In [132]:
#save progress
df_merge.to_csv('in_progess_2016.csv', index=False)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('in_progess_2016.csv')

In [3]:
df.head()

,GRANULE_ID,PRODUCT_ID,DATATAKE_IDENTIFIER,MGRS_TILE,SENSING_TIME,TOTAL_SIZE,CLOUD_COVER,GEOMETRIC_QUALITY_FLAG,GENERATION_TIME,NORTH_LAT,...,let,sub,STARTED,ENDED,MGRS,UNIQUE_ID,DATE,NEXT_TILE,NEXT_TILE_TIME,DAYS_BETWEEN
0,L1C_T10SEJ_A006016_20160816T190939,S2A_MSIL1C_20160816T185922_N0204_R013_T10SEJ_2...,GS2A_20160816T185922_006016_N02.04,10SEJ,2016-08-16 19:09:39.996000+00:00,596451172.0,0.0000,PASSED,2016-08-16T19:09:39.000000Z,39.750358,...,S,EJ,2016-08-13 00:00:00,2016-08-26 00:00:00,10SEJ,a0950d5e-6f35-4023-bb60-6737146ba7bd,2016-08-16,L1C_T10SEJ_A006116_20160823T185715,2016-08-23 18:57:15.690000+00:00,6.0
1,L1C_T10SFE_A004972_20160604T185400,S2A_MSIL1C_20160604T184922_N0202_R113_T10SFE_2...,GS2A_20160604T184922_004972_N02.02,10SFE,2016-06-04 18:54:00+00:00,695518354.0,65.0656,PASSED,2016-06-04T18:54:00.000000Z,36.139831,...,S,FE,2016-06-04 00:00:00,2016-06-20 00:00:00,10SFE,b8cf80c7-b617-4fe4-91b0-43b40d38c7f6,2016-06-04,L1C_T10SFE_A005072_20160611T184746,2016-06-11 18:47:46+00:00,6.0
2,L1C_T10SFE_A006116_20160823T185715,S2A_MSIL1C_20160823T184922_N0204_R113_T10SFE_2...,GS2A_20160823T184922_006116_N02.04,10SFE,2016-08-23 18:57:15.690000+00:00,698481486.0,44.5017,PASSED,2016-08-23T18:57:15.000000Z,36.139831,...,S,FE,2016-08-13 00:00:00,2016-09-06 00:00:00,10SFE,040d03d0-fbdd-438c-8174-f81e4a1bba57,2016-08-23,L1C_T10SFE_A006216_20160830T185344,2016-08-30 18:53:44.330000+00:00,6.0
3,L1C_T10SFE_A006073_20160820T185430,S2A_MSIL1C_20160820T185432_N0204_R070_T10SFE_2...,GS2A_20160820T185432_006073_N02.04,10SFE,2016-08-20 18:54:30.460000+00:00,525774690.0,53.1735,PASSED,2016-08-20T18:54:30.000000Z,36.052252,...,S,FE,2016-08-13 00:00:00,2016-09-06 00:00:00,10SFE,040d03d0-fbdd-438c-8174-f81e4a1bba57,2016-08-20,L1C_T10SFE_A006116_20160823T185715,2016-08-23 18:57:15.690000+00:00,3.0
4,L1C_T10SGH_A006116_20160823T185715,S2A_MSIL1C_20160823T184922_N0204_R113_T10SGH_2...,GS2A_20160823T184922_006116_N02.04,10SGH,2016-08-23 18:57:15.690000+00:00,580047251.0,0.0578,PASSED,2016-08-23T18:57:15.000000Z,38.826372,...,S,GH,2016-08-18 00:00:00,2016-08-30 00:00:00,10SGH,5823867d-c458-4673-858f-0ded99b6121f,2016-08-23,L1C_T10SGH_A006216_20160830T185344,2016-08-30 18:53:44.330000+00:00,6.0

In [4]:
df = df[['GRANULE_ID', 'SENSING_TIME', 'TOTAL_SIZE', 'CLOUD_COVER', 'BASE_URL', 'STARTED', 'ENDED', 'MGRS', 'UNIQUE_ID', 'NEXT_TILE', 'NEXT_TILE_TIME', 'DAYS_BETWEEN' ]]

In [5]:
# these columns will be used for tracking processing in aws
df['IN_PROGRESS'] = 0
df['PROCESSED'] = 0

In [6]:
'''
track how long each .safe took to process and get the instance id
instance id is useful if there is an issue with processing or data intergrity we 
can find it in cloudwatch and we will know what other tiles were processed by this instance
'''
df['PROCESS_TIME'] = " "
df['INSTANCE_ID'] = " "

In [7]:
df.head()

,GRANULE_ID,SENSING_TIME,TOTAL_SIZE,CLOUD_COVER,BASE_URL,STARTED,ENDED,MGRS,UNIQUE_ID,NEXT_TILE,NEXT_TILE_TIME,DAYS_BETWEEN,IN_PROGRESS,PROCESSED,PROCESS_TIME,INSTANCE_ID
0,L1C_T10SEJ_A006016_20160816T190939,2016-08-16 19:09:39.996000+00:00,596451172.0,0.0000,gs://gcp-public-data-sentinel-2/tiles/10/S/EJ/...,2016-08-13 00:00:00,2016-08-26 00:00:00,10SEJ,a0950d5e-6f35-4023-bb60-6737146ba7bd,L1C_T10SEJ_A006116_20160823T185715,2016-08-23 18:57:15.690000+00:00,6.0,0,0,,
1,L1C_T10SFE_A004972_20160604T185400,2016-06-04 18:54:00+00:00,695518354.0,65.0656,gs://gcp-public-data-sentinel-2/tiles/10/S/FE/...,2016-06-04 00:00:00,2016-06-20 00:00:00,10SFE,b8cf80c7-b617-4fe4-91b0-43b40d38c7f6,L1C_T10SFE_A005072_20160611T184746,2016-06-11 18:47:46+00:00,6.0,0,0,,
2,L1C_T10SFE_A006116_20160823T185715,2016-08-23 18:57:15.690000+00:00,698481486.0,44.5017,gs://gcp-public-data-sentinel-2/tiles/10/S/FE/...,2016-08-13 00:00:00,2016-09-06 00:00:00,10SFE,040d03d0-fbdd-438c-8174-f81e4a1bba57,L1C_T10SFE_A006216_20160830T185344,2016-08-30 18:53:44.330000+00:00,6.0,0,0,,
3,L1C_T10SFE_A006073_20160820T185430,2016-08-20 18:54:30.460000+00:00,525774690.0,53.1735,gs://gcp-public-data-sentinel-2/tiles/10/S/FE/...,2016-08-13 00:00:00,2016-09-06 00:00:00,10SFE,040d03d0-fbdd-438c-8174-f81e4a1bba57,L1C_T10SFE_A006116_20160823T185715,2016-08-23 18:57:15.690000+00:00,3.0,0,0,,
4,L1C_T10SGH_A006116_20160823T185715,2016-08-23 18:57:15.690000+00:00,580047251.0,0.0578,gs://gcp-public-data-sentinel-2/tiles/10/S/GH/...,2016-08-18 00:00:00,2016-08-30 00:00:00,10SGH,5823867d-c458-4673-858f-0ded99b6121f,L1C_T10SGH_A006216_20160830T185344,2016-08-30 18:53:44.330000+00:00,6.0,0,0,,

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GRANULE_ID      51 non-null     object
 1   SENSING_TIME    51 non-null     object
 2   TOTAL_SIZE      51 non-null     float64
 3   CLOUD_COVER     51 non-null     float64
 4   BASE_URL        51 non-null     object
 5   STARTED         51 non-null     object
 6   ENDED           51 non-null     object
 7   MGRS            51 non-null     object
 8   UNIQUE_ID       51 non-null     object
 9   NEXT_TILE       51 non-null     object
 10  NEXT_TILE_TIME  51 non-null     object
 11  DAYS_BETWEEN    51 non-null     float64
 12  IN_PROGRESS     51 non-null     int64
 13  PROCESSED       51 non-null     int64
 14  PROCESS_TIME    51 non-null     object
 15  INSTANCE_ID     51 non-null     object
dtypes: float64(3), int64(2), object(11)
memory usage: 6.5+ KB

In [9]:
# remove single tiles that dont have a next tile or are not a next tile
df = df[(df['GRANULE_ID'].isin(df['NEXT_TILE'])) | ~(df['NEXT_TILE'].isna())]

In [10]:
df.head()

,GRANULE_ID,SENSING_TIME,TOTAL_SIZE,CLOUD_COVER,BASE_URL,STARTED,ENDED,MGRS,UNIQUE_ID,NEXT_TILE,NEXT_TILE_TIME,DAYS_BETWEEN,IN_PROGRESS,PROCESSED,PROCESS_TIME,INSTANCE_ID
0,L1C_T10SEJ_A006016_20160816T190939,2016-08-16 19:09:39.996000+00:00,596451172.0,0.0000,gs://gcp-public-data-sentinel-2/tiles/10/S/EJ/...,2016-08-13 00:00:00,2016-08-26 00:00:00,10SEJ,a0950d5e-6f35-4023-bb60-6737146ba7bd,L1C_T10SEJ_A006116_20160823T185715,2016-08-23 18:57:15.690000+00:00,6.0,0,0,,
1,L1C_T10SFE_A004972_20160604T185400,2016-06-04 18:54:00+00:00,695518354.0,65.0656,gs://gcp-public-data-sentinel-2/tiles/10/S/FE/...,2016-06-04 00:00:00,2016-06-20 00:00:00,10SFE,b8cf80c7-b617-4fe4-91b0-43b40d38c7f6,L1C_T10SFE_A005072_20160611T184746,2016-06-11 18:47:46+00:00,6.0,0,0,,
2,L1C_T10SFE_A006116_20160823T185715,2016-08-23 18:57:15.690000+00:00,698481486.0,44.5017,gs://gcp-public-data-sentinel-2/tiles/10/S/FE/...,2016-08-13 00:00:00,2016-09-06 00:00:00,10SFE,040d03d0-fbdd-438c-8174-f81e4a1bba57,L1C_T10SFE_A006216_20160830T185344,2016-08-30 18:53:44.330000+00:00,6.0,0,0,,
3,L1C_T10SFE_A006073_20160820T185430,2016-08-20 18:54:30.460000+00:00,525774690.0,53.1735,gs://gcp-public-data-sentinel-2/tiles/10/S/FE/...,2016-08-13 00:00:00,2016-09-06 00:00:00,10SFE,040d03d0-fbdd-438c-8174-f81e4a1bba57,L1C_T10SFE_A006116_20160823T185715,2016-08-23 18:57:15.690000+00:00,3.0,0,0,,
4,L1C_T10SGH_A006116_20160823T185715,2016-08-23 18:57:15.690000+00:00,580047251.0,0.0578,gs://gcp-public-data-sentinel-2/tiles/10/S/GH/...,2016-08-18 00:00:00,2016-08-30 00:00:00,10SGH,5823867d-c458-4673-858f-0ded99b6121f,L1C_T10SGH_A006216_20160830T185344,2016-08-30 18:53:44.330000+00:00,6.0,0,0,,

In [11]:
from sqlalchemy import create_engine
import os

In [12]:
USER = os.environ.get('DBUSERNAME')
PASSWORD = os.environ.get('DBPASSWORD')
ENDPOINT = os.environ.get('DBDEV')
SCHEMA = 'dev'

engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{ENDPOINT}/{SCHEMA}")

In [13]:
# send to database
table = 'dev_l1c'
df.to_sql(table, con = engine, if_exists = 'append')